<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Products</title>
</head>
<body> <!-- <form action="" method="GET"> --><center>
    <div>
        <table>
            <tr>
                <td> <h3>Name</h3> </td>
                <td><h3>Price</h3></td>
                <td><h3>Quantity</h3></td>
            </tr>
            
            <%for(var j=0;j<=i;j++)
            {%>
                <tr></tr><td><%=pname[j]%></td>
                <td><%=price[j]%></td>
                <td><%=qnty[j]%></td></tr>
            <%}%>
            
            

        </table>
    </div></center><!-- </form> -->
</body>
</html>