<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Employees</title>
</head>
<body>
<!-- <form action="/emp/uemp" method="GET"> -->
<center>
    <br>
    <br>
    <h2>List Of Employees</h2>
    <br>
<table border="2">
    <thead>
        <th>
            Employee ID
        </th>
        <th>
            Name
        </th>
        <th>
            Salary
        </th>
        <th>
            Edit
        </th>
        <th>
            Delete
        </th>
    </thead>
    <tbody>
        <%for(var i in emp){%>
        <tr>
            <td>
                <%=emp[i].Eid%>
            </td>
            <td>
                <%=emp[i].Name%>
            </td>
            <td>
                <%=emp[i].Salary%>
            </td>
            <td>
                <!-- <input type="submit" value="Edit"> -->
                <button type="submit" onclick="window.location.href= '/emp/uemp/<%=emp[i].Eid%>'">Edit</button>
            </td>
            <td>
                    <!-- <input type="submit" value="Delete"> -->
                    <button type="submit" onclick="window.location.href= '/emp/uemp'">Delete</button>
            </td>
        </tr><%}%>
    </tbody>
</table>
</center>
<!-- </form> -->
</body>
</html>