<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Permenant Employee</h1>
    </center>

    <a href="/emp/demp/E001"><b><h2>*E001</h2></b></a> <br>
    <a href="/emp/demp/E002"><b><h2>*E002</h2></b></a> <br>
    <a href="/emp/demp/E003"><b><h2>*E003</h2></b></a> <br>
    <a href="/emp/demp/E004"><b><h2>*E004</h2></b></a> <br>
    <a href="/emp/demp/E005"><b><h2>*E005</h2></b></a> <br>
</body>
</html>