<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Wholesale Products</h1>
    </center>

    <a href="/prd/wsle/P001"><b><h2>*P001</h2></b></a> <br>
    <a href="/prd/wsle/P002"><b><h2>*P002</h2></b></a> <br>
    <a href="/prd/wsle/P003"><b><h2>*P003</h2></b></a> <br>
    <a href="/prd/wsle/P004"><b><h2>*P004</h2></b></a> <br>
    <a href="/prd/wsle/P005"><b><h2>*P005</h2></b></a> <br>
</body>
</html>