<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <center>
        <div>
            <h2>Added product details</h2>
        </div>
    </center>
    <h3>
        <table>
            <tr>
                <td>Product name:</td>
                <td><%=pname%></td>
            </tr>
            <tr>
                <td>Product Price:</td>
                <td><%=price%></td>
            </tr>
            <tr>
                <td>Product Quantity:</td>
                <td><%=qnty%></td>
            </tr>
        </table>
    </h3>
</body>
</html>