<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
</head>
<body>
    <div style="margin: 9%">
        <ul><h1>
            <li><a href="/npro">New Products</a> </li></a>
            <li><a href="/vpro">View Products</a> </li>
            <li><a href="/rpro">Remove Products</a> </li></h1>
        </ul>
    </div>
</body>
</html>